/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #19191A
  Circle:#4F77FF
  Rectangle:#F9E492
  Union: #9AD5FF
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #19191a;
  display: grid;
  place-items: center;
  z-index: 0;
}

.box{
  position: relative;
  top: -25px;
  width: 150px;
  height: 150px;
  background: conic-gradient( #4F77FF 0, 180deg,#9AD5FF 180deg, 270deg,#4F77FF 270deg);
  border-radius: 50%;

}

.box::before{
  content: "";
  position: absolute;
  width: 50%;
  height: 120px;
  background: #F9E492;
  bottom: -45px;
  z-index: -1;
}