/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #09042A
  Left circle: #7B3F61
  Right circle: #E78481
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #09042a;
  display: grid;
  place-items: center;
}

.box{
  position: relative;
  top: -20px;
  width: 150px;
  height: 150px;
  background:transparent;
  border-radius: 50%;
  box-shadow: -100px 0 #7B3F61,
               -100px 0 #E78481 inset;
  transform:translateX(50px) ;
}
