/* 
IMPORTANTE: USAR UN SOLO DIV
Colors:
  Background: #5C434C
  Orange: #F09462
  Yellow: #F5D6B4
*/
.bg {
  width: 400px;
  height: 300px;
  background-color: #5c434c;
  padding: 10px;
}

.box{
  width: 80px;
  height:80px;
  background: #F09462;
  border-top-left-radius:100%;
  box-shadow: 100px 0  #F5D6B4,
              200px 0 #F09462  ,
              300px 0 #F5D6B4,

              0   100px   #F09462,
              100px 100px #F5D6B4,
              200px 100px #F09462,
              300px 100px #F5D6B4,
              
              0   200px   #F09462,
              100px 200px #F5D6B4,
              200px 200px #F09462,
              300px 200px #F5D6B4;
}